body {
background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
margin-top: 25px;
-webkit-animation: fadein 4s; /* Safari, Chrome and Opera */
-moz-animation: fadein 4s; /* Firefox */
-ms-animation: fadein 4s; /* Internet Explorer */
-o-animation: fadein 4s; /* Opera */
animation: fadein 4s;
padding:0;
margin:0;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.myCanvas {
padding-top: 20px;
padding-bottom: 8px;
padding-right:100px;
float:right;
}

.myTitle{
  padding-right: 50%;
  padding-top: 50%;
  text-align: left;
font-family: 'Archivo Black', sans-serif;
}

header {
  color:white;
  padding-top: 45px;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}

Footer {
  color:white;
  margin-top: 43%;
  padding-bottom: 45px;
background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
